<div>
  <a [routerLink]="['/dashboard']">Go to Polls</a>
  <h1>{{ poll.question }}</h1>
  <p>Click the Vote button to choose one.</p>
  <table class="table table-bordered">
    <thead>
    <tr>
      <td>Option</td>
      <td>Current Count of Votes</td>
      <td>Action</td>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ poll.option1 }}</td>
        <td>{{ poll.option1_count }}</td>
        <td><button class="btn btn-primary" (click)="option1Vote(poll._id)">Vote</button></td>
      </tr>
      <tr>
        <td>{{ poll.option2 }}</td>
        <td>{{ poll.option2_count }}</td>
        <td><button class="btn btn-primary" (click)="option2Vote(poll._id)">Vote</button></td>
      </tr>
      <tr>
        <td>{{ poll.option3 }}</td>
        <td>{{ poll.option3_count }}</td>
        <td><button class="btn btn-primary" (click)="option3Vote(poll._id)">Vote</button></td>
      </tr>
      <tr>
        <td>{{ poll.option4 }}</td>
        <td>{{ poll.option4_count }}</td>
        <td><button class="btn btn-primary" (click)="option4Vote(poll._id)">Vote</button></td>
      </tr>
    </tbody>
  </table>
</div>
