<div>
  <ul class="list-inline">
    <li><a [routerLink]="['/create']">Create a New Poll</a></li>
    <li><a (click)="logOut()">Logout</a></li>
  </ul>
  <!--<h1>{{ name }} {{ user_id }}</h1>-->
  <h1>Current Polls: </h1>
  <!--{{ polls | json }}-->
  <form #searchForm="ngForm" (submit)="searchByName(searchForm)">
    <div class="input-group">
    <input type="rext" name="search_name" class="form-control" 
    placeholder="Search by name"
    [(ngModel)]="search_name"
    >
    <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Search</button>
      </span>
    </div>
  </form>
  <hr>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Name</td>
        <td>Survey Questions</td>
        <td>Date Posted</td>
        <td>Action</td>
      </tr>
      <tr *ngFor="let poll of polls">
        <td>{{ poll.name }}</td>
        <td><a [routerLink]="['/poll', poll._id ]">{{ poll.question }}</a></td>
        <td>{{poll.createdAt | date: 'medium' }}</td>
        <td *ngIf="name!=poll.name"></td>
        <td *ngIf="name==poll.name"><a (click)="delete(poll._id)">Delete</a></td>
      </tr>
    </thead>
  </table>
  <button class="btn btn-success" (click)="reset()">All polls</button>
</div>