<div>
<a [routerLink]="['/dashboard']">Cancel</a>
<h1>Put the question and options here:</h1>
<!--{{ poll | json }}-->
<form #pollForm="ngForm" (submit)="createNewPoll(pollForm)">
  <div class="form-group">
    <label for="question">Question:</label>
      <input type="text" name="question" class="form-control"
      [(ngModel)]="poll.question"
      required
      minlength="8"
      #question="ngModel"
      >
    <div class="red" *ngIf='question.errors && ( question.touched || pollForm.submitted)'>
        <p *ngIf='question.errors.required'>Question is required</p>
        <p *ngIf='question.errors.minlength'>Question must be at least 8 characters.</p>
      </div>
  </div>

  <div class="form-group">
    <label for="option1">Option 1:</label>
      <input type="text" name="option1" class="form-control"
      [(ngModel)]="poll.option1"
      required
      minlength="3"
      #option1="ngModel"
      >
    <div class="red" *ngIf='option1.errors && ( option1.touched || pollForm.submitted)'>
        <p *ngIf='option1.errors.required'>Option 1 is required</p>
        <p *ngIf='option1.errors.minlength'>Option 1 must be at least 3 characters.</p>
      </div>
  </div>

  <div class="form-group">
    <label for="option2">Option 2:</label>
      <input type="text" name="option2" class="form-control"
      [(ngModel)]="poll.option2"
      required
      minlength="3"
      #option2="ngModel"
      >
    <div class="red" *ngIf='option2.errors && ( option2.touched || pollForm.submitted)'>
        <p *ngIf='option2.errors.required'>Option 2 is required</p>
        <p *ngIf='option2.errors.minlength'>Option 2 must be at least 3 characters.</p>
      </div>
  </div>

  <div class="form-group">
    <label for="option3">Option 3:</label>
      <input type="text" name="option3" class="form-control"
      [(ngModel)]="poll.option3"
      required
      minlength="3"
      #option3="ngModel"
      >
    <div class="red" *ngIf='option3.errors && ( option3.touched || pollForm.submitted)'>
        <p *ngIf='option3.errors.required'>Option 3 is required</p>
        <p *ngIf='option3.errors.minlength'>Option 3 must be at least 3 characters.</p>
      </div>
  </div>

  <div class="form-group">
    <label for="option4">Option 4:</label>
      <input type="text" name="option4" class="form-control"
      [(ngModel)]="poll.option4"
      required
      minlength="3"
      #option4="ngModel"
      >
    <div class="red" *ngIf='option4.errors && ( option4.touched || pollForm.submitted)'>
        <p *ngIf='option4.errors.required'>Option 4 is required</p>
        <p *ngIf='option4.errors.minlength'>Option 4 must be at least 3 characters.</p>
      </div>
  </div>

  <button [disabled]="!pollForm.valid" type="submit" class="btn btn-success">Create Poll</button>
</form>
</div>
